.header {
  height: 100%;
}

.ad {
  background-image: url(../../public/images/ad.jpg);
  height: 54px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
