.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "menu header header" "menu swiper user" "menu offers user";
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    gap: 10px;

    .menu {
        grid-area: menu;
        height: 560px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;




    }
    .header {
        grid-area: header;
        height: 40px;
        background: #fff;
        border-radius: 10px;
        box-shadow: $shadow-1;
    }
}

.swiper {
    #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

}

.mainSwiper {

}


